.img_title {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.pools {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 500px;


  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pool {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;

  height: 97px;
  width: 97px;
  border: 3px solid rgb(101, 158, 16);
  border-radius: 50%;
}

.goblin {
  width: 92px;
}

p {
  text-align: center;
  font-size: 20px;
}


.window-fail {
  margin-top: 20px;
  display: flex;
  font-size: 20px;
}

.restart-button {
  width: 0 auto;
  font-size: 15px;
}


